.album-art {
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.searching {
    display: none;
}

.lyrics-container {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    font-family: monospace;
    white-space: pre-wrap;
  }

  .rating-container {
    display: flex;
  }
  
  .rating-element {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    margin-right: 2px;
  }
  
  .rating-element.active {
    background-color: blue;
  }